body{
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}





/*
.corpo_app{
    display: flex;
    margin-left: 600px;
    margin-top: 50px;
    width: 600px;
    height: 800px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
   
}

.titulo{
    display: flex;
    padding-left:150px ;
    font-size: 50px;
    color: rgb(18, 215, 0);
}

.info{
    display:flex;
    padding-left: 50px;
    padding-top:500px;
    
    

}

.container_info{
    background-color: aliceblue;
}
*/